*{box-sizing: border-box; margin:0%; padding:0%}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

  .WinMdlWrap {
    display: flex;
    position:absolute;
    align-items:center;
    justify-content:center;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(40, 0, 65);
    transition: opacity 2s ease;
    opacity: 0;
    z-index: 1;
  }

  .VideoIntroP1 {
    width: 80vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
  }

  .WinMdlMenu {
    display:flex;
    align-items: center;
    justify-content:center;
    justify-content: space-between;
    font-size: 20px;;
    margin-top: 20px;
  }

  .WinMdlMenu a {
    color: rgb(225, 225, 225);
    display: flex;
    font-weight:bold;
    text-decoration: none;
    border-bottom: 2px solid rgb(100, 100, 100, 0);
    padding: 5px 15px;
  }

  .WinMdlMenu a:hover {
    border-bottom: 2px solid rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
  }

  .BtnWinMdlIntro{
    display: flex;
    width: 90px;
    cursor: pointer;
  }

  .BtnWinMdlClose {
    display: flex;
    width: 85px;
    cursor: pointer;
  }

  .WinMdlshow {
    pointer-events: auto;
    opacity: 1;
  }

  /*-----  Responsivo para Tablet y Movil -----*/
  @media screen and (Max-width: 740px) {

    .WinMdlMenu {
      flex-direction: column;
      justify-content: space-between;
      margin-top: 25px;
    }

    .BtnWinMdlIntro{
      display: flex;
      margin-top: 10px;
      margin-bottom: 25px;
      margin-right: 75%;
    }
    
    .BtnWinMdlClose {
      display: flex;
      margin-top: 25px;
      margin-left: 75%;
    }
  
  }