*{box-sizing: border-box; margin:0%; padding:0%}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

.ContWrap {
  display: grid;
  margin-top: 0px;
  width: 100vw;
  height: 750px;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 100vw;
  grid-template-rows: 50px 50px 25px 150px;
}

.Title01  {
  display: flex;
  align-items:end;
  justify-content:center;
  color: rgb(150, 150, 150);
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 4px;
  animation-name: TitleAnimation01;
  opacity: 0;
  animation-duration: 6.5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  grid-column: 1/2;
  grid-row: 2/3;
}

.Title02  {
  display: flex;
  align-items:end;
  justify-content:center;
  color: rgb(150, 150, 150);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;
  animation-name: TitleAnimation02;
  opacity: 0;
  animation-duration: 8s;
  animation-delay: 12s;
  animation-name: BtnIntro;
  animation-fill-mode: forwards;
  grid-column: 1/2;
  grid-row: 2/3;
}

.Logo01 {
  display:flex;
  align-items:end;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 4/5;
}

.Logo02 {
  display:flex;
  color: rgb(150, 150, 150);
  width: 125px;
  animation-name: BtnIntro;
  visibility: hidden;
  opacity: 0;
  animation-duration: 10s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes TitleAnimation01 {
  0%{
    filter: grayscale(50%) blur(12px);
    opacity: 0;
  }
  25%{
    filter: grayscale(0%) blur(0);
    opacity: 1;
  }
  75%{
    filter: grayscale(0%) blur(0);
    opacity: 1;
  }
  100%{
    filter: grayscale(50%) blur(12);
    animation-timing-function: ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes TitleAnimation02 {
  0%{
    filter: grayscale(50%) blur(12px);
    opacity: 0;
  }
  25%{
    filter: grayscale(0%) blur(0);
    opacity: 1;
  }

  100%{
    filter: grayscale(50%) blur(0);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

@keyframes BtnIntro {
  0%{
    filter: grayscale(50%) blur(12px);
    opacity: 0;
  }
  25%{
    filter: grayscale(0%) blur(0px);
    animation-timing-function: ease-in-out;
    visibility: visible;
    opacity: 1;
  }

  100%{
    filter: grayscale(0%) blur(0);
    animation-timing-function: ease-in-out;
    visibility: visible;