*{box-sizing: border-box; margin:0; padding:0}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

  .HdrWrap {
    height: 110px;
    width: 100vw;
    margin-top: 0;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 55px 55px;
  }
  .HdrLogo01 {
    display: flex;
    justify-content:left;
    width: 250px;
    margin-top: 8px;
    margin-left: 10px;
    animation-name: HdrLogoAnimation01;
    opacity: 0;
    animation-duration:5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .HdrRSMenuWrap {
    display:flex;
    align-items: center;
    justify-content:right;
    border: 1px solid rgb(100, 100, 100, 0);
    font-size: 18px;
    margin-right: 10px;
    animation-name: HdrMenuAnimation;
    opacity: 0;
    animation-duration: 6s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .HdrRSMenuWrap a {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight:bold;
    text-decoration:none;
    border-radius:20px;
    padding:8px 8px;
  }

  .HdrRSMenuWrap a:hover {
    display: flex;
    color:rgb(160, 60, 255);
    padding:8px 8px;
  }
  .HdrMainMenuWrap {
    display:flex;
    align-items:center;
    justify-content:right;
    font-size: 25px;
    margin-right: 10px;
    animation-name: HdrMenuAnimation;
    opacity: 0;
    animation-duration: 6s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .HdrMainMenuWrap a {
    display: flex;
    color: rgb(150, 150, 150);
    font-weight:bold;
    padding: 2px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    color:rgb(255, 255, 255);
  }
  .HdrMainMenuWrap a:hover {
    color:rgb(160, 60, 255);
  }

  @keyframes HdrLogoAnimation01 {
    0%{
      animation-timing-function: ease-in-out;
      filter: grayscale(50%) blur(6px);
      opacity: 0;
    }

  
    

    
    100%{
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
  }
  @keyframes HdrMenuAnimation {
    0%{
      filter: grayscale(50%) blur(12px);
      opacity: 0;
    }
    25%{
      filter: grayscale(0%) blur(0px);
      animation-timing-function: ease-in-out;
      opacity: 0;
    }
  100%{
      filter: grayscale(0%) blur(0);
      animation-timing-function: ease-in-out;
      visibility: visible;
      opacity: 1;
    }
}

  /*-----  Responsivo para Tablet y Movil -----*/
  @media screen and (max-width: 750px) {

    .HdrRSMenuWrap {display: none;}
    .HdrMainMenuWrap {display: none;}
  .HdrLogo01 {
    display: flex;
    justify-content:left;
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .HdrLogo02 {
    display: flex;
    justify-content:left;
    width:200px;
    margin-top: 15px;
    margin-left: 10px;
  }
    .HdrWrap {
      display: flex;
      display: grid;
      grid-template-columns: 215px auto;
      grid-template-rows: 50px 0px;
    }
    .BtnHMWrap {
      display:flex;
      align-items: center;
      justify-content:right;
      margin-top: 15px;
      margin-right: 15px;
      animation-name: HdrBtnHMAnimation;
      opacity: 0;
      animation-duration: 8s;
      animation-delay: 10s;
      animation-fill-mode: forwards;
      grid-column: 2/3;
      grid-row: 1/3;
    }
    .BtnHMopen {
      display: flex;
      width: 40px;
      height: 40px;
      border: 0;
      background-image:url(../Icons/BtnOpenHMMenu.png);
      background-color: rgb(0, 0, 0, 0);
      background-position:center center;
      background-repeat:no-repeat;
      background-size: cover;
      cursor: pointer;
    }
    .BtnHMclose {
      display: flex;
      width: 45px;
      height: 52px;
      border:0;
      background-image:url(../Icons/BtnCloseLines.png);
      background-color: rgb(0, 0, 0, 0);
      background-position:center center;
      background-repeat:no-repeat;
      background-size: cover;
      cursor: pointer;
    }
    @keyframes HdrBtnHMAnimation {
      0%{
        filter: grayscale(0%) blur(0px);

        opacity: 0;
      }
      100%{
        filter: grayscale(0%) blur(0);

        opacity: 1;
      }
  }
}