body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: rgb(45, 0, 55, 0.35);
}

.banner {
    width: 100%;
    padding: 9rem 3rem;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("../Img/SmrtHouse02.jpg");

    background-color: rgba(0,0,0,.3);
    background-blend-mode: soft-light;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.banner h1 {
    color: #f1f1f1;
        letter-spacing: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(45, 0, 55);
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
}

.logo {
    width: 65px;
    margin: 0;
}

.logo img {
    width: 100%;
}

.item-options {
    color: #f1f1f1;
    margin: 0 1.5rem;
    text-decoration: none;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    width: 70%;
}